stages:
- test
- deploy
language: python
python:
- '3.6'
env:
- PORT=8080
cache: pip
jobs:
  include:
  - stage: test
    install:
    - pip install -r requirements.txt
    - pip install -r tests/requirements_test.txt
    script:
    - python hello.py &
    - python tests/test.py
  - stage: deploy
    provider: cloudfoundry
    username: vaibhavgupta0702@gmail.com
    password:
      secure: fSgB0SKyVmFRUDog+edKE+YjiWILcYSHPZQJfTO6F5iXRNmPUii2il1/eA3bIep3FaYdC+J8T3WiC1SooPdvTvODxx+6kSxr+dMF1UVPua1PVvZ7jto3MCcY9oQ3Tm0X89WFNjNpKXG+PCeEduntLZKH9ef3Ih4OtAVkYKiTgvMqPrxJLOBwf0i8K74mdFvlstsHDrpXauEbBPYaRcb3DxVl+fk/w6kMP1Um79xprINlf3dyYsdTk4i93yKWtOzDRoJZMiT9GdFpiUVhregEIcaCAh5U0B8agfxg7OgH165njolazoab04UTAXoxQVc0vrhI5HMBwVnJXYnoRWlJslpE+6kDKA6owB7qkg2hZvk1oX0bYpVjV/kDKrlUY07B8jqurLZMKczW8UjJ2nONMGWb5KHp/wDAj2M5Pcd9Tjppzkedpo13HdO3D7d6EtgGsTmZGJPaxQQr6AMAMiYy/GMVGABjetOCPlV+6SHV0rFa9d+RxG/34AkkL6n6H/CB6Iq8RvKwa+BufTirA3MzVeA3fm9x87SAVHF+lO4xU9kUfxRr5oaGDyobtWknzG1JTcK+FYjjWMyQ8yU4/HgbsXJ8oD4u971lPkHe6DwW8LEm+kxYjvC5VU5KvlHbBLq63b5ACJy9WdXtpKdRxljKaJCZoBlr/34e7I/h0m/aC40=
    api: https://api.run.pivotal.io
    organization: myorganisation
    space: staging
    install: pip install -r requirements.txt
    script: python hello.py &
